{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="loubot">
    <meta name="keywords" content="loubot">
    <meta name="author" content="loubot">
    <link rel="icon" href="{% static 'assets/images/favicon.png'%}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}" type="image/x-icon" />
    <title>LouBot</title>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&amp;display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css'%}">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/remixicon.css'%}">

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/iconsax.css'%}" />

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/aos.css'%}">

    <!-- swiper slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/swiper-bundle.min.css'%}" />

    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">

</head>

<body>


    <!-- section start -->
    <section class="login-section section-b-space">
        <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" class="img-fluid logo-auth" style="height: 40px;"></a>
        <div class="row m-0">
            <div class="col-lg-7 d-sm-block d-none p-0">
                <div class="login-animation">
                    <img src="https://themes.pixelstrap.net/mega_bot/assets/svg/auth/1.svg" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"
                        class="img-fluid img-base" alt="">
                    <img src="https://themes.pixelstrap.net/mega_bot/assets/svg/auth/2.svg" data-aos="zoom-in-up" data-aos-duration="1000"
                        data-aos-delay="1000" class="img-fluid img-light" alt="">
                    <div class="img-face" data-aos-delay="2500" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                        data-aos-duration="1000"> <img src="https://themes.pixelstrap.net/mega_bot/assets/svg/auth/3.svg" class="img-fluid" alt=""></div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5 ms-auto p-0">
                <div class="login-box mt-sm-0">
                    <div>
                        <h2><span>Set New Password</span></h2>
                        <p>Enter your new password below.</p>
                        <form class="auth-form" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="password" class="form-label">New Password</label>
                                <input type="password" name="password" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Enter your new password" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Confirm Password</label>
                                <input type="password" name="confirm_password" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Re-enter your new password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn-solid btn-absolute text-center mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->


    <!--custom cursor start  -->
    <div id="cursor"></div>
    <div id="cursor-border"></div>
    <!--custom cursor start  -->


    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>

    <!-- slider js-->
    <script src="{% static 'assets/js/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/custom-slider.js'%}"></script>

    <!-- custom cursor -->
    <script src="{% static 'assets/js/custom-cursor.js'%}"></script>

    <!-- aos animation -->
    <script src="{% static 'assets/js/aos.js'%}"></script>
    <script src="{% static 'assets/js/custom-aos.js'%}"></script>

    <!-- iconsax js -->
    <script src="{% static 'assets/js/iconsax.js'%}"></script>

    <!-- Theme js-->
    <script src="{% static 'assets/js/script.js'%}"></script>

    <script>
        document.onkeydown = (e) => {
    if (e.key == 123) {
        e.preventDefault();
    }
    if (e.ctrlKey && e.shiftKey && e.key == 'I') {
        e.preventDefault();
    }
    if (e.ctrlKey && e.shiftKey && e.key == 'C') {
        e.preventDefault();
    }
    if (e.ctrlKey && e.shiftKey && e.key == 'J') {
        e.preventDefault();
    }
    if (e.ctrlKey && e.key == 'U') {
        e.preventDefault();
    }
    };
    </script>

</body>
</html>
